@{
  Layout = "_Layout";
}

<h1>All Tamagotchis</h1>

<h3>Your new Tamagotchi has been created!
<ul>
    @foreach (var pet in Model)
    {
       <h1>Pet Details</h1>
        <li>Name: <a href="/pets/@pet.GetId()">@pet.GetName()</a></li>
        <li>Age: @pet.GetAge()</li>
        <li>Hunger: @pet.GetHunger()</li>
        <li>Fatigue: @pet.GetFatigue() </li>
        <li>Happiness: @pet.GetHappiness() </li>
     }
</ul>
       
<form action="/pets" method="post">
  <button class="btn btn-primary" type="submit" name="button">Pass Time</button>
</form>
