@{
  Layout = "_Layout";
}

<h1>Pet Details</h1>
<ul>
    <li>Name: @Model.GetName()</li>
    <li>Age: @Model.GetAge()</li>
    <li>Hunger: @Model.GetHunger()</li>
    <li>Fatigue: @Model.GetFatigue() </li>
    <li>Happiness: @Model.GetHappiness() </li>
</ul>

<form action="/pets" method="post">
    <button id="feed-pet" type="submit" name="feed-pet">Feed</button>
 </form>

 <form action="/pets" method="post">
    <button type="submit" name="button">Sleep</button>
</form>

<form action="/pets" method="post">
    <button type="submit" name="button">Play</button>
</form>